.hidden {
    display: none;
}

#content {
    margin: 5%;
}

.walletPublicKey {
    width: 100%;
}

.wallet {
    width: 90%;
    border-radius: 25px;
    font-size: 1.5rem;
    text-align: center;
    margin: 2%;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    background-color: #e8e8e8;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
}

.wallet_account {
    font-size: 1.1rem;
}

.wallet_icon {
    width: 89px;
    height: 70px;
}

#totalBal .wallet {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background-color: #F7931A;
}

@media (max-width: 708px) {
    .wallet {
        display: block;
    }
}
