.navbar {
  margin-bottom: 0;
}
.icon {
    margin-bottom: 4px;
    margin-right: 8px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 2em;
}
.jumbotron {
  margin-bottom: -1rem;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  margin-top: 0rem;
  padding-bottom: 0rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 3vw;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
}

.pic {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    border-radius: 25px;
}

.pic:hover{
    outline: gray solid 4px;
    background-color: black;
    cursor: pointer;
}

h4.text-black {
    padding-top: 12px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #343a40;
    margin-top: 7rem;
    margin-bottom: -7rem;
}

footer p {
  margin-bottom: .25rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

@media (min-width: 628px) {
    .card-text {
        font-size: 22px;
    }
}
